* {
    box-sizing: border-box;
}

header {
    padding: 20px;
    border-bottom: 2px solid black ;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: lighter;

}

header .high-scores {
    color: purple;
    text-decoration: none;
    margin-top: 0;
    text-align: left;
    font-size: small;
    cursor: pointer;
    
}

header .high-scores:hover {
   color: rgb(146, 91, 146);
}

.time {
    text-align: right;
    color: black;
    margin-top: -30px;
    font-size: medium;

}

.timeRemaining {
   text-align: right;
    color: black;
    margin-top: -30px;
    font-size: medium;

}

/* intro screen div */
.intro-screen {
   display: flex, inline-block;
   justify-content: center;
   text-align: center;
   align-items: center;
   
}

 /*quiz title*/
 .title {
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;

}

/*quiz directions*/
.directions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

 /*startQuiz button*/
.btn {
    background-color: purple;
    color: white;
    height: 50px;
    padding: 15px 32px;
    border-radius: 15px;
    cursor: pointer;
    
}

.btn:hover {
   background-color: rgb(146, 91, 146);
     
}

/* question divs */
.question-one, .question-two, .question-three {
   display: flex, inline-block;
   align-items: center;

}

 /*questionOne*/
.question-text{
    /* text-align: center; */
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 375px;
    margin-bottom: 20px;
}

 /*questionOne answerChoices*/
.answer-button {
    background-color: purple;
    color: white;
    height: 40px;
    border-radius: 15px;
    text-align: left;
    margin-left: 375px;
    margin-bottom: 5px;
    display: block;
    width: 250px;
    padding-right: 20px;
    cursor: pointer;
 }

 .answer-button:hover {
   background-color: rgb(146, 91, 146);
   
}

.answer-note {
 font-style: italic;
 color: grey;
 margin-left: 375px;

}

  /*conclusion*/
.conclusion {
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 20px;
   margin-left: -50px;
}

/* message */
.message {
   text-align: center;
   margin-left: -25px;
   
}

/* initials prompt */
.initials {
   text-align: center;
   margin-left: -70px;
   
}

/* initial input */
.initialsInput {
   text-align: center;
   align-items: center;
   
}

 /* submit score button */
.submit-score-button {
   background-color: purple;
   border-radius: 15px;
   color: white;
   cursor: pointer;
    
}

.submit-score-button:hover {
   background-color: rgb(146, 91, 146);
}

/* high scores */
.high-scores {
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   

}

.li-button-div, .conclusion-div {
   align-items: center;
   text-align: center;

}
 
/* list items */
.saved-score-item {
   background: rgb(228, 216, 216);
   width: 25%;
   margin: auto
   

}


/* go back button */
.go-back-button {
   background-color: purple;
   color: white;
   border-radius: 15px;
   margin: auto;
   cursor: pointer;
   margin: 5px;
   
}

.go-back-button:hover {
   background-color: rgb(146, 91, 146);
}

/* clear scores button */
.clear-scores-button {
   background-color: purple;
   color: white;
   border-radius: 15px;
   margin: 5px;
   cursor: pointer;
     
}

.clear-scores-button:hover {
   background-color: rgb(146, 91, 146);
}





/**************** Media Queries *********************/

@media screen and (max-width: 850px) { 
   .question-text, .answer-button, .answer-note  {
      margin-left: 250px
   }
}

@media screen and (max-width: 720px) { 
   .question-text, .answer-button, .answer-note  {
      margin-left: 200px
   }
}


@media screen and (max-width: 580px) { 
   .question-text, .answer-button, .answer-note  {
      margin-left: 100px
   }
}

@media screen and (max-width: 430px) { 
   .question-text, .answer-button, .answer-note  {
      margin-left: 50px
   }
}


